
/*declaring variable in CSS*/
:root{
    --base: #ffc600;
    --blur: 10px;
    --spacing: 10px;
}

span{
    color: var(--base);
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}